# Files and paths mentioned in this file are ignored by git
#
# You can use this to hide generated and temporary files.
#
# Further info:
#     https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#Ignoring-Files
# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Django database
db.sqlite3
*.sqlite3

# Environment variables
.env
.env.local

# Logs
*.log

# Node / React
node_modules/
dist/
build/
